.w3-theme-l5 {color:#000 !important; background-color:#eef9ff !important}
.w3-theme-l4 {color:#000 !important; background-color:#c7ecff !important}
.w3-theme-l3 {color:#000 !important; background-color:#8fdaff !important}
.w3-theme-l2 {color:#000 !important; background-color:#57c7ff !important}
.w3-theme-l1 {color:#fff !important; background-color:#1fb4ff !important}
.w3-theme-d1 {color:#fff !important; background-color:#008acf !important}
.w3-theme-d2 {color:#fff !important; background-color:#007ab8 !important}
.w3-theme-d3 {color:#fff !important; background-color:#006ba1 !important}
.w3-theme-d4 {color:#fff !important; background-color:#005c8a !important}
.w3-theme-d5 {color:#fff !important; background-color:#004d73 !important}

/*.w3-theme-light {color:#fff !important; background-color:#eef9ff !important}*/
.w3-theme-light {color:#fff !important}
/*.w3-theme-dark {color:#66ccff !important; background-color:#005b80 !important}*/
.w3-theme-dark {color:#fff !important; background-color:#2e2343  !important}
.w3-theme-action {color:#fff !important; background-color:#004d73 !important}

.w3-theme {color:#fff !important; background-color:#0099e6 !important}
.w3-text-theme {color:#0099e6 !important}
.w3-border-theme {border-color:#0099e6 !important}

.w3-hover-theme:hover {color:#fff !important; background-color:#0099e6 !important}
.w3-hover-text-theme:hover {color:#0099e6 !important}
.w3-hover-border-theme:hover {border-color:#0099e6 !important}

